<div class="mt-4 ms-4 me-4">
  <div class="row">
    {{#each courses}}
      <div class="col-sm-6 col-lg-3">
        <div class="card mb-4">
          <a href="/course/{{this.slug}}"><img
              src="https://img.youtube.com/vi/{{this.videoId}}/sddefault.jpg"
              class="card-img-top"
              alt={{this.name}}
            /></a>
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="/course/{{this.slug}}" class="btn btn-primary">Buy course</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>